<div>
  <h2 id="page-heading" data-cy="OtherHeading">
    <span jhiTranslate="schoolManagementApp.other.home.title">Others</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="schoolManagementApp.other.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-other"
        [routerLink]="['/other/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="schoolManagementApp.other.home.createLabel"> Create a new Other </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="others?.length === 0">
    <span jhiTranslate="schoolManagementApp.other.home.notFound">No Others found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="others && others.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="useTopImage">
            <div class="d-flex">
              <span jhiTranslate="schoolManagementApp.other.useTopImage">Use Top Image</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="topImage">
            <div class="d-flex">
              <span jhiTranslate="schoolManagementApp.other.topImage">Top Image</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="useMainImage">
            <div class="d-flex">
              <span jhiTranslate="schoolManagementApp.other.useMainImage">Use Main Image</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="mainImage">
            <div class="d-flex">
              <span jhiTranslate="schoolManagementApp.other.mainImage">Main Image</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="theme">
            <div class="d-flex">
              <span jhiTranslate="schoolManagementApp.other.theme">Theme</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let other of others; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/other', other.id, 'view']">{{ other.id }}</a>
          </td>
          <td>{{ other.useTopImage }}</td>
          <td>
            <a *ngIf="other.topImage" (click)="openFile(other.topImage, other.topImageContentType)">
              <img [src]="'data:' + other.topImageContentType + ';base64,' + other.topImage" style="max-height: 30px" alt="other image" />
            </a>
            <span *ngIf="other.topImage">{{ other.topImageContentType }}, {{ byteSize(other.topImage) }}</span>
          </td>
          <td>{{ other.useMainImage }}</td>
          <td>
            <a *ngIf="other.mainImage" (click)="openFile(other.mainImage, other.mainImageContentType)">
              <img [src]="'data:' + other.mainImageContentType + ';base64,' + other.mainImage" style="max-height: 30px" alt="other image" />
            </a>
            <span *ngIf="other.mainImage">{{ other.mainImageContentType }}, {{ byteSize(other.mainImage) }}</span>
          </td>
          <td jhiTranslate="{{ 'schoolManagementApp.Theme.' + other.theme }}">{{ other.theme }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/other', other.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/other', other.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(other)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
